<h4 class="text-center">시간 선택</h4>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th class="text-center">시간</th>
				<th class="text-center">대관자</th>
				<th class="text-center">대관 사유</th>
				<th class="text-center">작업</th>
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
			<tr>
				<td class="text-center">{{ row.hour }}{% if classroom.type == 1 %}교시{% else %}시{% endif %}</td>
				{% if row.rentinfo %}
				<td class="text-center">{{ row.rentinfo.user.first_name }}</td>
				<td class="text-center">{{ row.rentinfo.reason }}</td>
				<td class="text-center">
					{% if valid or user.is_staff %}
					{% if row.rentinfo.user == user or user.is_staff %}
					<a role="button" href="javascript:write_rentinfo({{ row.rentinfo.id }}, {{ row.hour }}, '{{ row.hour }}{% if classroom.type == 1 %}교시{% else %}시{% endif %}');"><i class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="대관 수정"></i></a>
					<a role="button" class="text-danger" href="javascript:delete_rentinfo({{ row.rentinfo.id }});"><i class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" title="대관 삭제"></i></a>
					{% endif %}
					{% endif %}
				</td>
				{% else %}
				<td></td>
				<td></td>
				<td class="text-center">
					{% if valid or user.is_staff %}
					<a role="button" class="text-muted" href="javascript:write_rentinfo(0, {{ row.hour }}, '{{ row.hour }}{% if classroom.type == 1 %}교시{% else %}시{% endif %}');"><i class="glyphicon glyphicon-tags" data-toggle="tooltip" data-placement="top" title="대관하기"></i></a>
					{% endif %}
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>